@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-primary: 180 90% 43%;
    --white: 0 0% 100%;
    /* Màu nền chính hoặc màu của container */
    --background: 0 0% 100%;
    /* Màu văn bản chính hoặc nội dung trên nền */
    --foreground: 222 47% 25%;
    /* Màu nền của thẻ (card) */
    --card: 0 0% 98%;
    /* Màu văn bản trên thẻ */
    --card-foreground: 222 47% 11%;
    /* Màu nền của popover hoặc tooltip */
    --popover: 0 0% 98%;
    /* Màu văn bản trong popover hoặc tooltip */
    --popover-foreground: 222 47% 11%;
    /* Màu nút bấm chính hoặc các yếu tố nổi bật */
    --primary: 199 89% 49%;
    /* Màu văn bản hoặc icon trên nút bấm chính */
    --primary-foreground: 0 0% 100%;
    /* Màu nút bấm phụ hoặc yếu tố ít nổi bật hơn */
    --secondary: 216 33% 90%;
    /* Màu văn bản hoặc icon trên nút bấm phụ */
    --secondary-foreground: 199 89% 49%;
    /* Màu nền cho các thành phần ít quan trọng */
    --muted: 216 33% 90%;
    /* Màu văn bản trên nền muted */
    --muted-foreground: 215.4 16.3% 46.9%;
    /* Màu nhấn cho các yếu tố trang trí */
    --accent: 216 33% 90%;
    /* Màu văn bản hoặc icon trên nền accent */
    --accent-foreground: 199 89% 49%;
    /* Màu nền cho cảnh báo hoặc hành động phá hủy */
    --destructive: 0 84% 95%;
    /* Màu văn bản hoặc icon trên nền destructive */
    --destructive-foreground: 0 100% 50%;
    /* Màu viền cho các thành phần có khung */
    --border: 216 33% 90%;
    /* Màu nền của các trường nhập liệu (input) */
    --input: 216 33% 90%;
    /* Màu viền khi các thành phần được focus */
    --ring: 222 47% 11%;
    /* Độ bo góc cho các thành phần */
    --radius: 0.5rem;
    /* Màu đầu tiên cho biểu đồ */
    --chart-1: 12 76% 61%;
    /* Màu thứ hai cho biểu đồ */
    --chart-2: 173 58% 39%;
    /* Màu thứ ba cho biểu đồ */
    --chart-3: 197 37% 24%;
    /* Màu thứ tư cho biểu đồ */
    --chart-4: 43 74% 66%;
    /* Màu thứ năm cho biểu đồ */
    --chart-5: 27 87% 67%;
  }

  :root.dark {
    --light-primary: 180 90% 43%;
    --white: 199 69% 84%;
    /* Màu nền chính hoặc màu của container */
    --background: 222 47% 11%;
    /* Màu văn bản chính hoặc nội dung trên nền */
    --foreground: 216 33% 68%;
    /* Màu nền của thẻ (card) */
    --card: 222 44% 13%;
    /* Màu văn bản trên thẻ */
    --card-foreground: 216 33% 68%;
    /* Màu nền của popover hoặc tooltip */
    --popover: 222 44% 13%;
    /* Màu văn bản trong popover hoặc tooltip */
    --popover-foreground: 216 33% 68%;
    /* Màu nút bấm chính hoặc các yếu tố nổi bật */
    --primary: 199 89% 49%;
    /* Màu văn bản hoặc icon trên nút bấm chính */
    --primary-foreground: 0 0% 93%;
    /* Màu nút bấm phụ hoặc yếu tố ít nổi bật hơn */
    --secondary: 216 33% 20%;
    /* Màu văn bản hoặc icon trên nút bấm phụ */
    --secondary-foreground: 199 89% 49%;
    /* Màu nền cho các thành phần ít quan trọng */
    --muted: 216 33% 20%;
    /* Màu văn bản trên nền muted */
    --muted-foreground: 215.4 16.3% 46.9%;
    /* Màu nhấn cho các yếu tố trang trí */
    --accent: 216 33% 20%;
    /* Màu văn bản hoặc icon trên nền accent */
    --accent-foreground: 199 89% 49%;
    /* Màu nền cho cảnh báo hoặc hành động phá hủy */
    --destructive: 0 0% 85%;
    /* Màu văn bản hoặc icon trên nền destructive */
    --destructive-foreground: 0 100% 50%;
    /* Màu viền cho các thành phần có khung */
    --border: 216 33% 20%;
    /* Màu nền của các trường nhập liệu (input) */
    --input: 216 33% 20%;
    /* Màu viền khi các thành phần được focus */
    --ring: 216 33% 68%;
    /* Độ bo góc cho các thành phần */
    --radius: 0.5rem;
    /* Màu đầu tiên cho biểu đồ */
    --chart-1: 12 76% 61%;
    /* Màu thứ hai cho biểu đồ */
    --chart-2: 173 58% 39%;
    /* Màu thứ ba cho biểu đồ */
    --chart-3: 197 37% 24%;
    /* Màu thứ tư cho biểu đồ */
    --chart-4: 43 74% 66%;
    /* Màu thứ năm cho biểu đồ */
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    overflow: auto !important;
  }
}

.text-linear-primary {
  background: var(
    --text-linear-primary,
    linear-gradient(
        90deg,
        hsl(var(--primary)),
        hsl(var(--light-primary)) 51%,
        hsl(var(--primary))
      )
      0/ 200%
  );
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
}

.text-overflow-max-line-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-overflow-max-line-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.right-0 {
  right: 0;
}

/* Hide arrow in number input Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrow in number input Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.ql-editor.dynamic-content img {
  display: inline-block !important;
}

.ql-editor a {
  color: hsl(var(--primary)) !important;
}

.ql-editor a:hover {
  text-decoration: underline;
}

.ql-editor h3,
.ql-editor h2,
.ql-editor h1,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  color: currentColor;
}

.dark .ql-editor code[data-highlighted='yes'] {
  background-color: hsl(var(--foreground));
}
